# Dependencies
/node_modules

# Build directory (if you build locally for other purposes)
/build
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
