
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex-grow: 1;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 2em;
}

